---
import ExperienceItem from "./experienceItem.astro";
const EXPERIENCE = [
  {
    date: "Octubre 2024",
    title: "Pycon Panama 2024",
    company: "Pycon Panama",
    description:
      "Desarrollé un software para el registro y asistencia de los participantes al evento.",
    link: "https://www.linkedin.com/posts/crei03_python-panama-pyconpanama2024-activity-7253103434160033814-OD6r?utm_source=share&utm_medium=member_desktop",
  },
  {
    date: "Septiembre 2024",
    title: "Semana de la Ingeniería",
    company: "Universidad Tecnológica de Panamá",
    description:
      "Participé como desarrollador y gestor de la plataforma de registro y asistencia de la Semana de la Ingeniería.",
    link: "https://www.linkedin.com/posts/crei03_innovation-engineering-softwaredevelopment-activity-7246534286399410176-v4QT?utm_source=share&utm_medium=member_desktop",
  },
  {
    date: "Junio 2024",
    title: "ICCA HACKATHON",
    company: "FIEXPO, IEEE",
    description:
      "Participé en el primer hackathon de la ICCA, donde desarrollé una aplicación para la gestión de eventos en tiempo real. Ganamos el tercer lugar.",
    link: "https://www.linkedin.com/posts/crei03_iccahackathon-innovacion-tecnologia-activity-7209887821006852096-lk8K?utm_source=share&utm_medium=member_desktop",
  },
];
---

<div class="flex flex-col items-center justify-center mt-8" id="experiencias">
  <div class="flex flex-col items-center gap-4 mb-8 py-5" >
    <div class="hover:scale-110 transition duration-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-16 h-16 text-emerald-500 animate-pulse hover:animate-none transition-colors duration-300"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12.23 15.5c-6.801 0-10.367-1.221-12.23-2.597v9.097h24v-8.949c-3.218 2.221-9.422 2.449-11.77 2.449zm1.77 2.532c0 1.087-.896 1.968-2 1.968s-2-.881-2-1.968v-1.032h4v1.032zm-14-8.541v-2.491h24v2.605c0 5.289-24 5.133-24-.114zm9-7.491c-1.104 0-2 .896-2 2v2h2v-1.5c0-.276.224-.5.5-.5h5c.276 0 .5.224.5.5v1.5h2v-2c0-1.104-.896-2-2-2h-6z"
        ></path>
      </svg>
    </div>
    <div class="text-center">
      <h1 class="text-5xl font-extrabold text-white">EXPERIENCIAS</h1>
      <div class="h-1 w-32 bg-emerald-500 transition-colors duration-300 mt-2 mx-auto rounded-full"></div>
    </div>
  </div>

  <!-- Lista de Experiencias -->
  <ol class="relative max-w-4xl w-full px-4">
    {
      EXPERIENCE.map((experience) => (
        <li>
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</div>
